.console-webapp {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

#container {
    overflow: hidden;
}

#console_bottom{
    position: relative !important;
    top: 0px !important;
}

.console-find-webapp {
    position: relative !important;
    background-color: transparent !important;
    right: 0px;
}

/** Rotate */
.rotate{
    transform: rotate(180deg);
}

.rotate-transition {
    transition: transform 0.3s linear;
}

.collapsing {
    visibility: hidden;
}

.highlight-find{
    margin-left: 10px;
}

#canvas_container{
    display: flex !important;
    background-color: red !important;
}

#sidebar-collapse{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    color: #007BFF;
    cursor: pointer;
}

#sidebar-files ul{
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}

#sidebar-files ul li{
    padding-bottom: 10px;

}

#sidebar-files ul li a:hover {
    color: #007BFF;
}

#file-icons {
    display: none;
}

#list-item:hover > div {
    display: flex;
    display: inline-block;
}

#list-item > li {
    max-width: 150px;
}

#list-item:hover > li {
    max-width: 75px;
}

#content {
    position: relative;
}

.content-webapp {
    height: calc(100vh - 38px);
    width: 100%;
}

#content-canvas {
    position: relative;
}

/* Webapp Menu */
nav {
    position: relative;
    z-index: 999999;
    width: 100%;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

#patch-menu {
    width: 100%;
}

.menu, .menu li ul, .patch-menu, .patch-menu li ul{
    background-color: #EFF0F1;
    margin: 0px;
    padding: 0px;
    list-style:none;
    float:left;
    font-size: 14px;
    width: 100%;
    border: 1px solid #C0C2C4;
    z-index: 1000000;
}

.menu li{
    display: none;
    position: relative;
    padding: 7px 10px;
    cursor: pointer;
}

.patch-menu li{
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

.menu > li, .patch-menu > li {
    float: left;
}

.menu > li:hover, .patch-menu > li:hover {
    float: left;
    background-color: #6bd4e6;
}

.menu li ul, .patch-menu li ul{
    display: none;
    position: absolute;
    min-width: 250px;
}

.menu li ul li:hover, .patch-menu li ul li:hover{
    background-color: #6bd4e6;
}

.menu li ul li ul{
    top: 0;
    left: 100%;
}

.menu > li > ul > li span, .menu > li > ul > label > li span, .patch-menu > li > ul > li span {
    float: right;
    font-size: small;
    color: #777;
}

/* Input file */
.menu label input[type="file"] {
    display: none;
}
.menu label {
    margin: 0px;
    width: 100%;
    text-align: left;
}

li .hr{
    display: block !important;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.hr > hr{
    margin: 0px;
    padding: 0px;
}

#pd-info{
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#pd-info img{
    height: 50px;
}

/* Popup */
#popup{
    background-color: #EFF0F1;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    border: 1px solid #C0C2C4;
    z-index: 999999;
    position: absolute;
    list-style:none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(49, 49, 49, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

#popup li{
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

#popup > li:hover{
    background-color: #6bd4e6;
}

.popup-disabled{
    color: #858688;
}
.popup-disabled:hover{
    background-color: transparent !important;
}

/* Webapp Index layout */
#sidebar{
    background-color: transparent;
    min-width: 200px;
    max-width: 200px;
    margin: 0px;
    margin-top: 10px;
    border-top-width: 0ch;
}

#windows{
    max-height: 100vh !important;
    max-width: 100vw !important;
}

#canvas-content{	
    height: 70%;
}

#canvas-content > .card-body{
    display: flex !important;
}

#canvas-container{
    min-height: 100%;
    flex-direction: row;
}

#console_controls{
    background-color: transparent;
}

#console-window{
    background-color: transparent;
    max-height: 30%;
}

#console-window a{
    text-decoration: none;
}

#console-header {
    height: 50px;
}
.patch{
    flex-basis: 100%;
    background-color: #f6f6f6;
    border-right: 2px solid hsl(220, 1%, 53%);
    overflow: auto;
}	

.patch_window_svg{
    background-color: #f6f6f6;
    overflow: visible;
    margin-top: 35px;
    cursor: pointer;
    min-height: 100%;
}	
    
.patch_window_svg > svg{
    min-height: 100%;
    position: relative;	
    margin-top: -1px;	
    margin-left: -1px;	
    overflow: visible;	
}	

.patch-holder{
    height: 100%;
    font-family: Dejavu Sans Mono !important;
}

.patch-filename{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: move;
}

#div-svg-p{	
    position: relative;	
    z-index: 999999;	
}

#sidebar-body {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
*[unselectable="on"] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

/* Bootstrap */	
.container-fluid{	
    background-color: transparent;
    padding: 0px !important;
}

.card {
    border-radius: 0px !important;
}

.card-body{
    padding: 0px 5px !important;
}

.card-body > .side-card{
    padding-top: 100px;
}

/* Fontawesome icons */
.fa{
    font-size: 1.5em !important;
    margin-right: 20px;
}

#reload-i{
    font-size: 1em !important;
    cursor: pointer;
    transition: transform 1s linear;
}

