<div>
    <nav>
        <ul class="menu" id="menu">
            <!-- File section -->
            <li id="menu-file">
                <ul>
                    <li id="file-new"></li>
                    <label>
                        <li id="file-open">
                        </li>
                        <input id="uploadPatch" type="file" onchange="pdbundle.pdgui.upload_patch(this.files)" multiple>   
                    </label>
                    
                    <!-- Recent Files submenu -->
                    <li id="file-recent-files">
                    </li>
                                        
                    <!-- End canvas specific -->
                    <li id="file-message"></li>
                    <li id="file-close"></li>
                    <li id="file-quit"></li>
                </ul>
            </li>
            
            <!-- Edit section -->
            <li id="menu-edit">
                <ul>                    
                    <li id="edit-copy"></li>                    
                    <li id="edit-selectall"></li>                    
                    <li id="edit-clear-console"></li>                    
                    <li id="edit-find"></li>
                    <li id="edit-preferences"></li>
                </ul>
            </li>
            
            <!-- View Section -->
            <li id="menu-view">
                <ul>
                    <li id="view-zoomin"></li>
                    <li id="view-zoomout"></li>                    
                    <li id="view-zoomreset"></li>
                    <li id="view-fullscreen"></li>
                </ul>
            </li>
            
            
            <!-- Media section -->
            <li id="menu-media">
                <ul>
                    <li id="media-audio-on"></li>
                    <li id="media-audio-off"></li>

                    <li id="media-test"></li>
                    <li id="media-loadmeter"></li>
                </ul>
            </li>
            
            <!-- Window section -->
            <li id="menu-window">
                <ul>
                    <li id="window-nextwin"></li>
                    <li id="window-prevwin"></li>
                </ul>
            </li>
            
            <!-- Help section -->
            <li id="menu-help">
                <ul>
                    <li id="help-about"></li>
                    <li id="help-manual"></li>
                    <li id="help-browser"></li>
                    <li id="help-intro"></li>
                    <li id="help-l2ork-list"></li>
                    <li id="help-pd-list"></li>
                    <li id="help-forums"></li>
                    <li id="help-irc"></li>
                </ul>
            </li>
        </ul>
      </nav>

 

    </div>